/* Colors and fonts */

body {
  background: #F7F9FC;
  color: #df7474;
  font-family: Courier, serif;
  font-size: 17px;
  font-weight: lighter;
}

h1, h2, h3 {
  font-family: Courier;
}

h1 {
  color: #1839ad;
  font-size: 32px;
  font-weight: 900;
  line-height: 0
}

h2 {
  color: #2ba3db;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
  line-height: 1em
}

h3 {
  color: #6eaecc;
  font-size: 30px;
  font-weight: lighter;
  font-weight: 500;
}

a {
  font-family: Courier;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}

a:hover {
  color: black;
}

.container {
  width: 700px;
  margin: 60px auto;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.card-citation {
  color: #2cd6ce;
  font-size: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 2%;
}

.btn-color {
  background-color: #adb1ec;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-color:hover {
  background-color: rgb(240, 106, 106);
  color: white;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline i {
  font-size: 50px;
  color: rgb(250, 185, 185);
}

.list-inline i:hover {
  color: black;
}



#introduction p {
  margin-bottom: 45px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}